In [1]:
import numpy as np
import pandas as pd

# Reading Data

In [88]:
def create_df():
    data = {'Source':[], 'Sink':[]}
    with open("train.txt", "r") as f:
        for line in f:
            line = f.readline().split("\t")
            data['Source'] += [line[0]]*(len(line)-1)
            data['Sink'] += line[1:]
    pd_data = pd.DataFrame(data=data)
    pd_data[['Source', 'Sink']] = pd_data[['Source', 'Sink']].apply(pd.to_numeric)
    return pd_data

In [46]:
def read_test():
    return pd.read_csv("test-public.txt", delimiter="\t", index_col=0)

In [89]:
data = create_df()

In [86]:
len(set(data["Source"]))

9792

In [47]:
test = read_test()

In [48]:
test.head()

     Source     Sink
Id
1   3563811  3600160
2   2052043  1401960
3   4517994  1690636
4   1660006  4349447
5    581111  1882617

In [56]:
test.shape

(2000, 2)

# Data Analysis

In [91]:
# missing data in train comparing with test
non_exist = 0
test_people = set(test['Source'])
train_people = set(data['Source'])
train_people.update(set(data['Sink']))
for i in test_people:
    if i not in train_people:
        non_exist += 1
print(non_exist)

23

# Feature Engineering

In [92]:
def jaccard_distance(a, b):
    pass